*{
    margin: 0;
    padding: 0;
    text-decoration: dashed;
    list-style: none;
    scroll-behavior: smooth;
    transition: .6s ease;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    
}
img{
    max-width: 100%;
}


nav.scrolled{
    border: none;
    backdrop-filter: blur(0px);
    z-index: 2000;
    background-color: transparent;
}

nav.scrolled ul .logo a{
    transform: translateY(-150px);
}
nav.scrolled ul .bt{
    transform: translateY(-150px);
}
nav.scrolled ul .list{
    top: 0;
    z-index: 9999;
    padding: 10px 20px;
    border-top:1px solid transparent;
    
    background-color: rgb(54, 54, 54);
}
nav.scrolled ul .list{
    border-radius: 6px;
}
nav{
    position: fixed;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid grey;
    /* background-color: rgb(0, 0, 0); */
    z-index: 111;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 40px;
}

nav ul .logo a{
        display: flex;
    align-items: center;
    gap: 1em;
}

.logo a .con{
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 10px;
}

.logo a h2{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 255, 145);
}

.list{
        display: flex;
    align-items: center;
    gap: 1.7em;
}

.list li{
    padding: 20px 20px;
    overflow: hidden;
    position: relative;
}

.list li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: .6s ease;
    height: 5px;
    background: linear-gradient(135deg,rgb(40, 222, 40),rgb(7, 181, 147));
}
.list li:hover::before{
    width: 100%;
}
.list li a{
    font-size: 1.1em;
    color: rgb(255, 255, 255);
}

/* get started */
.x{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 5rem;
    color: white;
}
.load{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999999;
    display: none;
    background-color: rgba(0, 0, 0, 0.53);
    align-items: center;

    justify-content: center;
}
.load .loa{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: move .6s ease infinite;
    border-top: 2px solid orange;
}
@keyframes move {
    100%{
        transform: rotate(360deg);
    }
}
.getter{
    width: 100%;
    height: 100vh;
    backdrop-filter:blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 45, 45, 0.371);
    z-index: 10000;
}
.getter .gett{
    width: 60%;
    height: 90%;
    border-radius: 10px;
    background-color: black;
}
.gett section{
    border-radius: 5px;
}
.gett form{
    margin-top: 2em;
    width: 100%;
    padding: 40px 1px;
        display: flex;
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
form::-webkit-scrollbar{
    width: 0.5rem;
    background-color: transparent;
}
form::-webkit-scrollbar-thumb{
    width: 3rem;
    border-radius: 10px;
    height: 40px;
    background-color: rgb(156, 255, 95);
}
.drinks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}
.drinks h2{
    color: white;
    font-size: 1.5em;
}
.inn{
    display: flex;
    align-items: center;
    gap: 1em;
}
.in2{
        display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.in2 p{
    color: rgb(255, 255, 255);
}
.l{
    width: 10px;
    border-radius: 50%;
    height: 10px;
    border: 1px solid white;
}
.in2 .li{
        display: flex;
    text-align: left;
    gap: 1em;
}
.inn h2{
    font-size: 1.3rem;
    color:white;
}
.inn p{
    color: rgb(126, 255, 126);
    font-size: 2rem;
}
.drinks .select{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.1em;
    width: 100%;
}
.select a{
    padding: 15px 30px;
    background-color: black;
    border: 1px solid rgb(151, 255, 231);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.select .active{
    background-color: rgb(130, 255, 96);
    color: black;
}
form .inputs{
    width: 89%;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.inputs .label{
    width: 50%;
}
.label{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.label input{
    transition: .5s ease;
    padding: 15px;
    width: 100%;
    border: 1px solid rgb(190, 255, 208);
    border-radius: 5px;
    color: white;
    background-color: rgb(11, 11, 11);
}
::placeholder{
    color: white;
}
input:focus{
    outline: rgb(59, 255, 53);
}
.label label{
    color: white;
}
.p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2em;
    padding: 5px 0;
}
.p a{
    color: rgb(175, 175, 175);
    padding: 10px;
}
.p a:hover{
    text-decoration: none;
    color: white;
}
.settings{
    position: fixed;
    bottom: 20px;
    z-index: 100;
    right: -120px;
    width: 10%;
}
.settings img{
    max-width: 20%; 
    animation: move 2s ease infinite;
}
.settings img:hover{
    cursor:pointer;
}

@keyframes move {
    100%{
        transform: rotate(360deg);
    }
}

.typed {
  /* background: linear-gradient(135deg, var(--accent-color) 0%, color-mix(in srgb, var(--accent-color), #8b5cf6 50%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  background-clip: text; */
  position: relative;
}

.typed::before{
  content:'';
  position: absolute;
  bottom: 0;
color: white;
  width: 100%;
  height: 40px;  
  border-radius: 2px;
}

.bt a{
    padding: 15px 30px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(135deg,rgb(40, 222, 40),rgb(7, 181, 147));
}
.bt a:hover{
    padding: 15px 30px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(205deg,rgb(40, 222, 40),rgb(7, 181, 147));
}

.intros{
    width: 100%;
    
}

.intros ul{
    padding: 130px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.intros .text{
    width: 50%;
    display: flex;
    gap: 2em;
    flex-direction: column;
}
.text h2{
    color: white;
        /* background: linear-gradient(135deg, rgb(255, 255, 255) 0%, color-mix(in srgb, rgb(33, 179, 47), #ffffff 50%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative; */
    font-size: 5rem;
}
.text p{
    font-size: 1.3rem;
    line-height: 1.4;
    color: rgb(149, 148, 148);
}
.b{
    margin-top: 1em;
}
.b a{
    width: 100%;
    padding: 20px 300px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
         background: linear-gradient(135deg,rgb(40, 222, 40),rgb(7, 181, 147));
}

mark{
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    margin-top: -6rem;
    border-right: 10px solid rgb(255, 255, 255)55; /* Cursor effect */
    background-color: rgb(50, 245, 99);
    animation: blink .5s ease infinite;
}
@keyframes blink {
    0%{
        border-right: 10px solid rgb(255, 255, 255);
    }
    50%{
        border-right: 10px solid rgba(255, 255, 255, 0);
    }
    100%{
        border-right: 10px solid rgba(255, 255, 255, 0.105);
    }
}

.image{
    width: 40%;
    height: 480px;
    background: linear-gradient(15deg,rgb(40, 222, 40),rgb(7, 181, 147));
}
@media (min-width: 768px) {
    .intros{
        flex-direction: column;
    }
}
.gallery{
    width: 100%;
    background-color: rgb(21, 21, 21);
}

.gallery ul{
    padding: 20px 40px;
}
.cate{
    display: flex;
    align-items: center;
    gap: 1em;
}

.cate a{
    padding: 20px 40px;
    color: grey;
        /* background: linear-gradient(135deg,rgb(40, 222, 40),rgb(7, 181, 147)); */
}
.cate a:hover{
    color: white;
}

.cate .active{
    color: white;
    border-bottom:5px solid rgb(27, 194, 141);
    /* background: linear-gradient(135deg,rgb(40, 222, 40),rgb(7, 181, 147)); */
}

.mages{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    padding: 30px 0;
}

.mages .mage{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(35, 35, 35);
    position: relative;
    overflow: hidden;
}
img{
    max-width: 100%;
}
.mage:hover .over{
    height: 100%;
    opacity: 1;
}

.mage:hover img{
    transform: scale(1.1);
    opacity: 0.2;
}
/* mark{
    width: 0;
    background-color: transparent;
} */
.over{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.over a{
    padding: 20px 40px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg,rgb(40, 222, 40),rgb(7, 181, 147)); 
}

.head{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    width: 1005;
}

.head h1{
    font-size: 3em;
    color: white;
}

.head p{
    color: whitesmoke;
}
.line{
    width: 10%;
    height: 5px;
    border-radius: 20px;
    background: linear-gradient(135deg,rgb(40, 222, 40),rgb(7, 181, 147)); 
}

.blogs{
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 30px 0;
    width: 100%;
    overflow-x: auto;
}


.blogs .blog{
    width: 30%;
    padding: 10px;
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;
    border-radius: 20px;
    background-color: rgb(35, 35, 35);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.blog .pics{
    width: 180px;
    height: 180px;
    border: 2px solid rgb(64, 255, 89);
    border-radius: 50%;
}
.blog h2{
    color: white;
    font-size: 1.5rem;
}
.blog p{
    color: rgb(142, 141, 141);
    text-align: center;
    line-height: 1.5;
    font-size: 1rem;
}


.blog:hover{
    background-color: rgb(23, 23, 23);
    box-shadow: 0 0px 10px rgba(0, 208, 59, 0.164);
}
.blog:hover::before{
    opacity: 1;
}


/* chefs */

.chefs{
    width: 100%;
    display: flex;
    gap: 2em;
    align-items: center;
    margin-top: 2em;
    justify-content: space-between;
}
.chefs .arrow{
    width: 30px;
    height: 30px;
    background-color: orange;
}

.chefs .chefer{
    display: flex;
    width: 100%;
    gap: 1.4em;
}


.chefer .mages{
    width: 40%;
    height: 500px;
    background: rgb(58, 58, 58); 
    position: relative;
    overflow: hidden;
}
.chefer .words{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.words h2{
    font-size: 3rem;
    color: white;
}
.words p{
    font-size: 1rem;
    color: rgb(91, 231, 56);
}
.words #p{
    font-size: 1.1rem;
    color: white;
    margin-top: 1em;
}
.other{
    position: absolute;
    bottom: 10px;
    left: 10px;
    gap: 1.1em;
    display: flex;align-items: center;
}

.other .oth{
    width: 50px;
    height: 50px;
    border: 2px solid orange;
}

.badge{
    display: flex;
    width: 100%;
    gap: 1.4em;
    margin-top: 1em;
}

.badge a{
    padding: 15px;
    color: white;
    background-color: rgb(40, 39, 39);
}

.info{
    margin-top: 1em;
        display: flex;
    flex-direction: column;
    gap: 1.2em;
    width: 100%;
}

.info h2{
    font-size: 1.7em;
    color: white;
}
.info p{
    color: white;
    font-size: 1.3em;
}
.info p strong{
    color: rgb(58, 254, 58);
    font-size: 1.5em;
}
#bt{
    margin-top: 3rem;
}
.bt .bb{
    margin-top: 4rem;

}
.bb a{
    padding: 30px 300px;
    border-radius: 10px;
    
}
.bb a:hover{
    padding: 30px 300px;
    border-radius: 10px;
    background: linear-gradient(305deg,rgb(40, 222, 40),rgb(7, 181, 147)); 
}
/* .ba{
    margin-top: 1em;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2em;
}
.ba .soci{
        display: flex;
    align-items: center;
    gap: 2em;
    width: 50%;
}
.soci a{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 2em;
    background-color: rgb(58, 254, 58);
}
.ba a{
    background-color: rgb(202, 135, 36);
    padding: 20px 150px;
} */


.cen{
    z-index: 110;
    width: 99%;
    height: 90px;
    margin-top: 2em;
    transform: rotate(-3deg);
    background: linear-gradient(135deg,rgb(40, 222, 40),rgb(7, 181, 147));
}
.cen ul{
    padding: 30px 20px;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.cen ul h2{
    font-size: 2rem;
    color:white;
}

.cen ul h2 i{
    padding: 10px 10px;
    background-color: black;
}

.abouts{
    display: none;
    gap: 2em;
    margin-top: 2em;
}

.abouts .about{
    width: 55%;
}
.about h1{
    font-size: 4rem;
    color: white;
}
.about p{
    font-size: 1.5em;
    color: white;
    line-height: 1.5;
}